html,
body,
* {
    font-family: "Rubik", sans-serif;
}

#como-funciona {
    scroll-margin-top: 100px;
}

#header {
    background-color: #FFFFFF;

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: #000072;
                padding-bottom: 10px;

                &.active,
                &:hover {
                    border-color: #B4FC4B !important;
                }
            }

            &.dropdown {
                .dropdown-menu {
                    .dropdown-item {
                        background-color: #FFFFFF;
                        color: #000072;
                    }
                }
            }
        }
    }
}

.page-home {
    #hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-position: calc(100% + 5rem);
        max-width: 1650px;
        margin: auto;
        
        @media (min-width: 992px) {
            height: 315px;
            background-image: url("../images/hero-banner-desktop.png");

        }

        @media (min-width: 1200px) {
            height: 420px;
        }

        @media (min-width: 1300px) {
            height: 450px;
        }

        @media (min-width: 1500px) {
            
            background-position: calc(100% - 5rem);
        }

        .align-mobile-center{
            @media (max-width: 992px) {
                margin: auto;
            }
        }

        .img-mobile{
            max-height: 400px;
            @media screen and (min-width: 992px){
                display: none;
            }
        }

        &>.container {
            position: relative;
            contain: layout;
        }
    }
}

#products {
    contain: layout;

    .container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            z-index: -1;
            transform: translate(-50%);
            width: 1400px;
            max-width: 1400px;
            height: 100%;
            background-color: rgba($color: #D1E3FF, $alpha: 0.2);
            border-radius: 2.813rem;
        }

    }

    .products {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .product {
            position: relative;
            background-color: #CDC2ED;
            border-radius: 10px;

            display: flex;
            flex-direction: column;

            height: 324px;
            width: 190px;
            padding: 0 4px;
            margin-inline-start: 10px;
            margin-inline-end: 10px;
            margin-bottom: 2.188rem;

            &__img {
                position: absolute;
                left: 50%;
                top: 8px;
                transform: translate(-50%);

                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;

                min-width: 178px;
                min-height: 211.74px;
            }

            &__info {
                flex: 1;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: 3.5rem;

                .name {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.8;
                    color: #000072;
                    text-align: center;

                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;

                    margin-bottom: 8px;
                }

                .commercial-price {
                    font-size: 8px;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #000072;
                    text-align: center;

                    span {
                        font-size: 10px;
                        font-weight: 500;
                    }
                }
            }

            &__price {
                background-color: #000072;
                border: 1px solid #000072;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 12px;

                width: 174px;
                height: 51px;
                border-radius: 62px;

                position: absolute;
                left: 50%;
                bottom: 0.5rem;
                transform: translate(-50%);

                span{
                    font-size: 10px;
                    color: #C5FB69;
                    position: relative;
                    top: 8px;
                }

                h3{
                    font-size: 30px;
                    color: #C5FB69;
                }
            }
        }
    }
}

#about {
    .about-content {
        position: relative;
        contain: layout;

        img {
            @media (max-width: 992px) {
                margin-inline-start: -1rem;
            }
        }

        &::after {
            content: '';
            background-image: url("../images/Rectangle 8.webp");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
            display: block;
            width: 318px;
            height: 162px;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateX(-58%);

            @media (max-width: 992px) {
                display: none;
            }
        }
    }
}

.page-home {
    #solutions {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 28%;
            z-index: -1;
            transform: translateX(-50%);
            display: block;
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            height: 84%;
            border-radius: 45px;
            background-color: #F1ECFF;

            @media (max-width: 992px) {
                bottom: 18%;
            }
        }
    }
}

#company {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 55%;
        z-index: -1;
        transform: translateX(-50%);
        display: block;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        height: 50%;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        background-color: #F1ECFF;
    }

    .cpmpany-content {
        background-color: #9B8FCC;

        &>.container {
            position: relative;
            contain: layout;

            &::after {
                content: url("../images/Group 127.webp");
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(30%, -50%);

                @media (max-width: 992px) {
                    display: none;
                }
            }
        }

        .img-company {
            @media (max-width: 992px) {
                margin-inline-start: 1rem;
            }
        }

        .primary-title {
            font-size: 1.563rem;
            font-weight: 600;
            line-height: 2.188rem;
            color: #000072;
            margin: 0;

            @media (max-width: 992px) {
                line-height: 1;
                margin-bottom: 5px;
            }
        }

        .body {
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #9B8FCC;
        }
    }
}

#newsletter {
    position: relative;
    padding-top: 9rem !important;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;
        transform: translateX(-50%);
        display: block;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        height: 100px;
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
        background-color: #F1ECFF;
    }
}

.page-colaboradores {
    #hero {
        .container {
            contain: layout;

            &::after {
                content: url("../images/Group 130.webp");
                position: absolute;
                bottom: 0;
                z-index: -1;
                left: 100%;
                transform: translateX(-85%);

                @media (max-width: 992px) {
                    top: 6px;
                }

                @media screen and (min-width: 992px) and (max-width: 1200px){
                    left: 114%;
                }
            }
        }
    }

    #solutions {
        position: relative;

        @media (max-width: 992px) {
            padding-bottom: 25px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            z-index: -1;
            transform: translateX(-50%);
            display: block;
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            height: 595px;
            border-radius: 45px;
            background-color: #FFFCE3;

            @media (max-width: 992px) {
                height: 620px;
                border-radius: 0;
            }
        }
    }
}

.page-planos {
    #solutions {
        position: relative;

        @media (max-width: 992px) {
            padding-bottom: 25px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -110px;
            z-index: -1;
            transform: translateX(-50%);
            display: block;
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            height: 675px;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
            background-color: #FFF3FC;

            @media (max-width: 992px) {
                height: 675px;
                border-radius: 0;
            }
        }
    }
}

#cards {
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 100%;
        max-width: 100%;
        height: 587px;
        position: absolute;
        left: 0;
        top: 56px;
        z-index: -1;
        background-color: #D1E3FF;
    }

    .card {
        background-color: #FFFFFF;
        border-radius: 28px;

        &__title {
            font-size: 35px;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 12px;

            &--primary {
                color: #36D588;
            }

            &--secundary {
                color: #9B8FCC;
            }
        }

        &__body {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
            color: #979797;
        }
    }
}

#benefits {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -2;
        transform: translateX(-50%);
        display: block;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        height: 480px;
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
        background-color: #FFF3FC;

        @media (max-width: 992px) {
            height: 675px;
            border-radius: 0;
        }
    }

    .card {
        background-color: #fff;
        border-radius: 58px;

        .rounded-5 {
            border-radius: 58px !important;
        }

        .text-pill-primary-color {
            color: #000072;
        }

        .list-group-numbered>.list-group-item::before {
            color: #000072;
            font-weight: 600;
        }

        .body-primary {
            font-size: 1rem;
            font-weight: 300;
            line-height: 24px;

            strong {
                font-weight: 600;
            }
        }
    }
}

#savings-calculator {
    contain: layout;
    .container {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            z-index: -1;
            transform: translate(-50%);
            width: 1400px;
            max-width: 1400px;
            height: 100%;
            background-color: #F1ECFF;
            border-radius: 2.813rem;
        }
    }
    .calculator {
        .container-input {
            display: flex;
            align-items: end;
            gap: 22px;

            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }

            .input-range {
                width: 100%;
                max-width: 100%;


                .range-label {
                    font-size: 18px;
                    line-height: 1.2;
                    font-weight: 600;
                    color: #606368;
                    margin-left: 45px;
                    margin-bottom: 5px;
                }

                .input-range-container {
                    border: 1px solid #A0A0A8;
                    border-radius: 45px;
                    min-height: 87px;

                    .range-wrap {
                        position: relative;
                        width: 85%;
                        margin: 0 auto;
                        margin-top: 10px;

                        input[type=range] {
                            appearance: none;
                            margin: 20px 0;
                            width: 100%;

                            &:focus {
                                outline: none;

                                &::-webkit-slider-runnable-track {
                                    background: #000072;
                                }
                            }

                            &::-webkit-slider-runnable-track {
                                width: 100%;
                                height: 4px;
                                cursor: pointer;
                                background: #000072;
                                border-radius: 25px;
                            }

                            &::-webkit-slider-thumb {
                                height: 20px;
                                width: 20px;
                                border-radius: 50%;
                                background: #B4FC4B;
                                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
                                cursor: pointer;
                                -webkit-appearance: none;
                                margin-top: -8px;
                            }
                        }

                        .range-value {
                            position: absolute;
                            top: 100%;

                            span {
                                width: max-content;
                                font-size: 18px;
                                line-height: 1.2;
                                font-weight: 600;
                                color: #606368;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }
            }

            .input-controle {
                width: 139px;
                height: 87px;
                border-radius: 45px;
                border: 1px solid #A0A0A8;
                text-align: center;
                background-color: #F1ECFF;
                font-size: 18px;
                line-height: 1.2;
                font-weight: 600;
                color: #606368;
                @media (max-width: 992px) {
                        display: none;
                    }
            }
        }
    }

    .calculator-result {
        display: block;
        contain: layout;
        position: relative;
        max-width: max-content;
        margin-left: auto;

        @media (max-width: 992px) {
            margin: 0 auto;
        }

        .input-container {
            position: relative;

            .label {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 600;
                color: #000072;
                margin-left: 45px;
                margin-bottom: 5px;
            }

            .total-value {
                width: 397px;
                height: 90px;
                border-radius: 45px;
                border: 1px solid #A0A0A8;
                padding-top: 13px;

                display: flex;
                justify-content: center;
                align-items: start;
                gap: 18px;

                .value {
                    font-size: 56.26px;
                    font-weight: 600;
                    line-height: 59.4px;
                    letter-spacing: -5px;
                    color: #000072;
                }

                .text {
                    font-size: 18px;
                    font-weight: 600;
                    text-align: right;
                    line-height: 1.2;
                    color: #000072;
                    transform: translateY(10px);
                }
            }
        }

        .img-e-pillpass {
            display: block;
            transform: translate(82px, -40px);
        }

        .input-container-2 {
            position: absolute;
            bottom: 40px;
            left: 0;
            width: 397px;
            height: 93px;
            border-radius: 45px;
            background-color: #9B8FCC;

            .currency-price {
                width: 217px;
                height: 100%;
                border-radius: 45px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;

                position: absolute;
                left: 0;
                top: 0;

                .label {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 1.2;
                    color: #FFFFFF;
                }

                .value {
                    font-size: 34.25px;
                    font-weight: 600;
                    line-height: 1.2;
                    color: #FFFFFF;
                }
            }

            .currency-pillpass {
                background-color: #B4FC4B;
                width: 200px;
                height: 100%;
                border-radius: 45px;

                position: absolute;
                top: 0;
                right: 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .label {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.2;
                    color: #000072;
                }

                .value {
                    font-size: 34.25px;
                    font-weight: 600;
                    line-height: 1.2;
                    color: #000072;
                }
            }
        }
    }
}

#price-calc {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -2;
        transform: translate(-50%, -50%);
        display: block;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        height: 172px;
        border-radius: 10px;
        background-color: #9B8FCC;

        @media (max-width: 992px) {
            height: 675px;
            border-radius: 0;
        }
    }

    .steps {
        position: relative;
        background-color: #F1ECFF;
        border-radius: 25px;

        &::after {
            content: '';
            width: 82%;
            height: 4px;
            border-radius: 8px;
            background-color: #000072;

            position: absolute;
            top: 67px;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);

            @media (max-width: 992px) {
                display: none;
            }
        }

        .step {
            position: relative;
            display: flex;
            column-gap: 40px;
            z-index: 1;

            @media (max-width: 992px) {
                flex-direction: column;
                align-items: center;
            }

            &:last-of-type {
                &::after {
                    display: none;
                }
            }

            &:nth-child(3) {
                &::after {
                    background-image: url("../images/Vector.webp");

                    @media (max-width: 992px) {
                        transform: rotate(90deg);
                    }
                }
            }

            &::after {
                content: '';
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                background-color: #C5FA69;
                background-image: url("../images/add_24px.webp");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 14px;
                margin-top: 33px;
            }

            &__title {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.2;
                color: #000072;
                margin-bottom: 1rem;
            }

            &__price {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.2;
                color: #000072;
            }
        }
    }
}

#fqa {
    scroll-margin-top: 100px;

    .accordion {
        .accordion-header {
            .accordion-button {
                background-color: #9B8FCC;
                color: #FFFFFF;

                font-size: 1rem;
                font-weight: 600;

                &::after {
                    background-image: url("../images/chevron_right_24px@2x.webp");
                    background-position: center;
                }

                &.collapsed {
                    border-radius: 5px;
                }

                &:focus {
                   display: none;
                }
            }
        }

        .accordion-collapse {
            background-color: #9B8FCC;
            color: #FFFFFF;
        }
    }
}

.page-forms {
    #hero {
        .img-hero {
            position: relative;
            contain: layout;

            &::after {
                content: url("../images/PILL LILÁS 3.webp");
                position: absolute;
                top: 30px;
                right: -60px;
            }
        }
    }

    #collaborators {
        .bg-collaborators {
            position: relative;
            contain: layout;

            &::after {
                content: url("../images/Group 122.webp");
                position: absolute;
                right: -105px;
                bottom: -39px;
                z-index: -1;
            }
        }
        
        #form-budget-step-2{
            #phone{
                padding-left: 43px !important;
            }
            .plus-five-five{
                cursor: pointer;
                position: absolute;
                left: 5px;
                top: 10px;
                z-index: 99;
                padding-left: 5px;
                color: #5c5b5b;
            }
        }
    }
}

.page-login {
    .img-doctor {
        position: relative;
        contain: layout;

        &::after {
            content: url("../images/Rectangle 4.webp");
            position: absolute;
            bottom: 0;
            right: -80px;
        }
    }
}

.page-login-2 {
    .img-login {
        position: relative;
        contain: layout;

        &::after {
            display: block;
            content: url("../images/login-coporativo.webp");
            position: relative;
            bottom: 0;
            right: -142px;

            @media (max-width: 992px) {
                right: -20px;
            }
        }
    }
}

.page-login-3 {
    #hero {
        min-height: 100vh;
    }

    .img-login {
        position: relative;
        contain: layout;

        &::after {
            content: url("../images/Rectangle 5.webp");
            position: absolute;
            bottom: 0;
            right: -80px;
        }
    }
}

.page-login, .page-login-2, .page-login-3 {
    #hero {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 45px 0;
    }
}

#form-login {
    .signup-text {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #40405C;

        a {
            font-weight: 500;
            color: #9B8FCC;
            text-decoration: none;
        }
    }

    .recovery-password-text {
        cursor: pointer;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.5;
        color: #9B8FCC;
    }
}

#footer {
    background-color: #F1ECFF;
    color: #464646;

    .menu-footer {
        &__title {
            color: #000072;
            font-size: 16px;
            font-weight: 500;
        }

        &__link {
            color: #000072;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

#modal-success {
    background-color: rgba(247, 245, 255, 0.5);
    backdrop-filter: blur(8px);

    .modal-content {
        border-radius: 20px;

        .modal-header {
            border-bottom: 2px solid #9B8FCC;
        }

        .modal-body {
            .modal-body-text {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.2;
                color: #000072;
            }

            .btn-pill-secundary {
                width: 100%;
                max-width: 295px;
            }
        }
    }
}

#modal-recovery-password {
  background-color: rgba(247, 245, 255, 0.5);
  backdrop-filter: blur(8px);

  .modal-content {
    border: 1px solid #36D588;

    .modal-header {
      .modal-title {
        font-size: 1.375rem;
        font-weight: 600;
        line-height: 1.2;
        color: #36D588;
      }

      .btn-close {
        color: #36D588;
      }
    }

    .modal-body {
      .text-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #40405C;
      }

      .form-label {
        font-size: 0.75rem;
        font-weight: 600;
        color: #40405C;
      }

      .btn-pill-default {
        font-size: 12px;
        font-weight: 500;
        color: #9B8FCC;
      }

      .btn-pill-modal {
        font-size: 12px;
        font-weight: 500;
        background-color: #36D588;
        color: #000072;

        &:hover {
          background-color: #36D588;
          color: #000072;
          filter: brightness(0.9);
        }
      }

      .modal-body-title {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2;
        color: #40405C
      }

      .modal-body-text {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 400;
        line-height: 1.5;
        color: #79798F;
      }
    }
  }
}

.page-singup {
    #hero, #form-2ft {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 45px 0;
    }

    #form-2ft {
        .btn-pill-secundary {
            background-color: #36D588;

        }
    }

    .img-doctor {
        position: relative;
        contain: layout;

        &::after {
            content: url("../images/Rectangle 5-2.webp");
            position: absolute;
            bottom: 120px;
            right: -120px;
        }
    }

    .img-2fr {
        position: relative;
        contain: layout;
    
        &::after {
            content: url("../images/Rectangle 4-2.webp");
            position: absolute;
            bottom: -8px;
            right: -120px;

            @media (max-width: 992px) {
                width: 65%;
            }
        }
    }
}

.page-singup-shopify {
    #form-singup {
        .title {
            font-size: 1.75rem;
            line-height: 1.2;
            color: #40405C;
        }

        .description {
            font-size: 0.875rem;
            line-height: 1.5;
            color: #282842;
        }

        .label-pill {
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
            color: #40405C;
        }

        .label-pill-check {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            color: #40405C;

            a {
                font-weight: 500;
                color: #9B8FCC;
            }
        }

        #invalidCheck {
            &:checked {
                background-color: #9B8FCC;
                border-color: #9B8FCC;
            }
        }

        .img-error {
            display: block;
            width: 14px;
            height: auto;
        }

        .text-error {
            font-size: 12px;
            line-height: 1.5;
        }
    }
}

.primary-title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.813rem;
    color: #000072;
    margin-bottom: 1.875rem;
}

.primary-title-2 {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.188rem;
    color: #9B8FCC;
    margin-bottom: 2.188rem;
}

.primary-title-3 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.813rem;
    color: #9B8FCC;
    margin-bottom: 1.875rem;
}

.secundary-title {
    font-size: 1.563rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #979797;
}

.secundary-title-2 {
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 2.188rem;
    color: #000072;
}

.body-spotlight {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.625rem;
    color: #9B8FCC;
}

.body-spotlight-muted {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.625rem;
    color: #979797;
}

.btn-pill-primary {
    background-color: #36D588;
    color: #FFFFFF;

    &:hover {
        background-color: #36D588;
        color: #FFFFFF;
        filter: brightness(0.9);
    }

    &:disabled {
        background-color: #36D588;
        color: #FFFFFF;
        border-color: transparent;
        opacity: 0.5;
    }
}

.btn-pill-secundary {
    background-color: #9B8FCC;
    color: #FFFFFF;

    &:hover {
        background-color: #9B8FCC;
        color: #FFFFFF;
        filter: brightness(0.9);
    }

    &:disabled {
        background-color: #9B8FCC;
        color: #FFFFFF;
        border-color: transparent;
        opacity: 0.5;
    }
}

.btn-pill-secundary-outline {
    background-color: #FFFFFF;
    border: 1px solid #9B8FCC;
    color: #9B8FCC;

    &:hover {
        background-color: #9B8FCC;
        color: #FFFFFF;
    }

    &:disabled {
        background-color: #9B8FCC;
        color: #FFFFFF;
        border-color: transparent;
        opacity: 0.5;
    }
}

.page-account {
    .bd-layout {
        position: relative;
        contain: layout;
    
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: #FFFFFF;
    
            position: absolute;
            top: 0;
            left: 12px;
            z-index: 0;
            transform: translateX(-100%);

            @media (max-width: 992px) {
                display: none;
            }
        }

        @media (min-width: 992px) {
            display: grid;
            grid-template-areas: "sidebar main";
            grid-template-columns: 1fr 4fr;
            gap: 1.5rem;
        }

        .bd-sidebar {
            grid-area: sidebar;

            @media (min-width: 992px) {
                position: sticky;
                top: 5rem;
                display: block !important;
                height: calc(100vh - 6rem);
                padding-left: 0rem;
                margin-left: -.25rem;
                overflow-y: auto;
            }

            .navbar-pillpass {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        strong {
                            display: block;
                            font-size: 1.125rem;
                            font-weight: 600;
                            line-height: 1.2;
                            color: #40405C;
                            margin-bottom: 20px;
                            padding: 0 1rem;
                        }

                        ul {
                            margin-bottom: 20px;

                            li {
                                a {
                                    display: block;
                                    padding: 12px 32px;

                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.2;
                                    text-decoration: none;
                                    color: #40405C;
                                    background-color: transparent;
                                    border-right: 4px solid transparent;

                                    transition: all .3s ease;

                                    &:hover, &.active {
                                        background-color: #9B8FCC;
                                        border-color: #B4FC4B;
                                        color: #FFFFFF;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bd-main {
            grid-area: main;

            .breadcrumb {
                .breadcrumb-item {
                    font-size: 0.875rem;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #000072;

                    &::before,
                    a {
                        font-size: 0.875rem;
                        font-weight: 500;
                        line-height: 1.5;
                        color: #000072;
                        text-decoration: none;
                    }

                    &::before {
                        font-weight: 700;
                    }

                    &.active {
                        font-weight: 400;
                        color: #40405C;
                    }
                }
            }

            .account-title {
                font-size: 1.75rem;
                font-weight: 400;
                line-height: 1.2;
                color: #40405C;
                margin-bottom: 25px;
            }

            .account-description {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.5;
                color: #40405C;
                margin-bottom: 1rem;
            }

            .card-saved-title {
                font-size: 1.75rem;
                font-weight: 400;
                line-height: 1.2;
                color: #9B8FCC;
                margin-bottom: 0;
            }

            .card-saved {
                display: flex;
                flex-direction: column;
                width: 243px;
                height: 195px;
                border-radius: 10px;
                background-color: #F9F9F9;
                border: 1px solid #F1ECFF;
                padding: 26px 22px;

                @media (max-width: 992px) {
                    display: grid;
                    grid-template-areas: "content img";
                    grid-template-columns: 1fr auto;

                    width: 100%;
                    height: auto;
                }

                img {
                    display: block;
                    max-width: 76px;
                    height: auto;
                    margin-bottom: 10px;

                    @media (max-width: 992px) {
                        grid-area: img;
                    }
                }

                h4 {
                    font-size: 1.063rem;
                    font-weight: 400;
                    line-height: 1.4;
                    color: #000072;

                    @media (max-width: 992px) {
                        grid-area: content;
                    }
                }

                p {
                    font-size: 1.75rem;
                    font-weight: 700;
                    line-height: 1.4;
                    color: #36D588;
                    margin-bottom: 0;

                    @media (max-width: 992px) {
                        grid-area: content;
                        margin-top: 30px;
                    }
                }
            }

            .grafic-bar {
                .grafic-bar-title {
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 1.4;
                    margin-bottom: 46px;
                }
            }

            .card-pill {
                .card-pill-title {
                    font-size: 1.375rem;
                    font-weight: 600;
                    line-height: 1.2;
                    color: #9B8FCC;
                    margin-bottom: 22px;
                }

                .card-pill-form {
                    .label-pill {
                        font-size: 0.75rem;
                        font-weight: 500;
                        line-height: 1;
                        color: #40405C;
                    }

                    input:read-only,
                    select:disabled {
                        border: 0;
                        padding: 0 !important;
                        background: none;

                        font-size: 0.875rem;
                        line-height: 1.5;
                        color: #40405C !important;

                        &::placeholder {
                            color: #ccc;
                        }
                    }

                    .btn-card-pill {
                        min-height: 36px;

                        color: #9B8FCC;
                        border-width: 1px;
                        border-color: #9B8FCC;

                        font-size: 0.75rem;
                        font-weight: 500;
                        line-height: 1;

                        background-color: transparent;

                        &:hover {
                            background-color: #9B8FCC;
                            color: #fff;
                        }

                        @media (max-width: 992px) {
                            width: 100%;
                        }
                    }
                }
            }

            .search-order {
                .form-control {
                    background-color: #fff;
                    border-radius: 8px;
                    border: 1px solid #E2E2E2;
                    padding: 13px 12px;

                    &::placeholder {
                        color: #A0A0A8;
                    }

                    &:focus {
                        box-shadow: none;
                    }

                    @media (max-width: 992px) {
                        max-width: 100% !important;
                    }
                }
            }

            .filter-select {
                min-height: 36px;
                width: max-content;
                box-shadow: 0px 2px 2px rgba(0, 0, 114, .1);
            }

            .card-order {
                display: grid;
                grid-template-columns: repeat(4, auto) max-content;
                align-items: center;
                gap: 1rem;
                text-decoration: none;
                color: #40405C;

                @media (max-width: 992px) {
                    grid-template-columns: 1fr 1fr 1fr;
                    align-items: inherit;

                    div {
                        &:nth-of-type(2) {
                            text-align: right;
                        } 

                        &:nth-of-type(4) {
                            text-align: center;
                        }
                    }
                }

                .order-number {
                    font-size: 1.125rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #40405C;
                    margin: 0;

                    @media (max-width: 992px) {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }

                .label {
                    font-size: 0.75rem;
                    font-weight: 400;
                    line-height: 1;
                    margin-bottom: 0;
                    color: #40405C;
                }

                .date {
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #40405C;
                    margin-bottom: 0;
                }

                .price {
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #282842;
                    margin-bottom: 0;

                    &--spotlight {
                        color: #9B8FCC;
                    }
                }

                .quantity {
                    font-size: 1.125rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #282842;
                    margin-bottom: 0;
                }
            }

            .pagination-container {
                width: max-content;
                margin: 0 auto;
                background-color: #fff;
                border-radius: 4px;
                padding: 10px 16px;
                box-shadow: 0px 2px 2px rgba(0, 0, 114, .1);

                .pagination {
                    margin: 0;
                    gap: 8px;

                    .page-item {
                        .page-link {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            min-width: 24px;
                            min-height: 24px;
                            border-radius: 4px;
                            background-color: transparent;
                            color: #9B8FCC;
                            border: none;

                            font-size: 0.75rem;
                            font-weight: 500;
                            line-height: 1;
                            padding: 0;
                        }

                        &:hover,
                        &.active {
                            .page-link {
                                background-color: #9B8FCC;
                                color: #C5FA69;
                            }
                        }
                    }
                }
            }

            .calculator-result {
                display: block;
                position: relative;
                max-width: max-content;
                margin-left: 1rem;

                @media (max-width: 992px) {
                    margin: 0 auto;
                }

                .input-container {
                    position: relative;

                    .label {
                        font-size: 0.656rem;
                        line-height: 1.2;
                        font-weight: 600;
                        color: #000072;
                        margin-left: 45px;
                        margin-bottom: 5px;
                    }

                    .total-value {
                        width: 232px;
                        height: 52px;
                        border-radius: 45px;
                        background-color: #B4FC4B;
                        padding-top: 8px;

                        display: flex;
                        justify-content: center;
                        align-items: start;
                        gap: 10px;

                        .value {
                            font-size: 2.051rem;
                            font-weight: 600;
                            line-height: 1.2;
                            letter-spacing: -2px;
                            color: #000072;
                        }

                        .text {
                            font-size: 0.656rem;
                            font-weight: 600;
                            text-align: center;
                            line-height: 1.2;
                            color: #000072;
                            transform: translateY(10px);
                        }
                    }
                }

                .img-e-pillpass {
                    display: block;
                    transform: translate(40px, -20px);
                }

                .input-container-2 {
                    position: absolute;
                    bottom: 10px;
                    left: 8px;
                    width: 232px;
                    height: 54.27px;
                    border-radius: 45px;
                    background-color: #9B8FCC;

                    .currency-price {
                        width: 132px;
                        height: 100%;
                        border-radius: 45px;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 100%;

                        position: absolute;
                        left: 0;
                        top: 0;

                        .label {
                            font-size: 0.656rem;
                            font-weight: 300;
                            line-height: 1.2;
                            color: #FFFFFF;
                        }

                        .value {
                            font-size: 34.25px;
                            font-weight: 600;
                            line-height: 1.2;
                            color: #FFFFFF;
                        }
                    }

                    .currency-pillpass {
                        background-color: #B4FC4B;
                        width: 116.7px;
                        height: 100%;
                        border-radius: 45px;

                        position: absolute;
                        top: 0;
                        right: 0;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .label {
                            font-size: 1.25rem;
                            font-weight: 600;
                            line-height: 1.2;
                            color: #000072;
                        }

                        .value {
                            font-size: 34.25px;
                            font-weight: 600;
                            line-height: 1.2;
                            color: #000072;
                        }
                    }
                }
            }

            .order-info {
                .label {
                    font-size: 0.75rem;
                    font-weight: 500;
                    line-height: 1;
                    color: #40405C;
                    margin-bottom: 8px;
                }

                .date {
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.5;
                    margin-bottom: 0;
                }
            }

            .status {
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 1;
                background-color: #E2E2E2;
                color: #40405C;
                padding: 8.5px 8px;
            }

            #accordionOrder {
                .accordion-header {
                    .accordion-button {
                        background-color: #9B8FCC;
                        color: #FFFFFF;

                        font-size: 1.375rem;
                        font-weight: 600;
                        line-height: 1.2;

                        &::after {
                            background-image: url("../images/chevron_right_24px@2x.webp");
                            background-position: center;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

                .accordion-body {
                    .product-image {
                        display: block;
                        width: 40px;
                        height: 40px;
                        border-radius: 8px;
                        overflow: hidden;
                    }

                    .product-title {
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.2;
                        color: #40405C;
                        margin-bottom: 5px;
                    }

                    .product-variant {
                        font-size: 0.75rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #79798F;
                        margin-bottom: 0;

                        .product-brand {
                            color: #000072;
                        }
                    }

                    .product-quantity {
                        font-size: 0.75rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #79798F;
                        margin-bottom: 0;
                    }

                    .price {
                        font-size: 0.399rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #222222;
                        margin-right: 12px;
                        margin-bottom: 0;

                        span {
                            text-decoration: line-through;
                        }
                    }

                    .discount {
                        background-color: #000072;
                        color: #C5FA69;

                        font-size: 0.371rem;
                        line-height: 1.5;
                        padding: 4px 10px;
                        border-radius: 8px;
                        margin-bottom: 0;
                    }

                    .current-price {
                        font-size: 1.25rem;
                        font-weight: 500;
                        line-height: 1.2;
                        color: #282842;
                        margin-bottom: 0;
                    }
                }
            }

            .card-address {
                .title {
                    font-size: 1.375rem;
                    font-weight: 600;
                    line-height: 1.2;
                    color: #282842;
                    margin-bottom: 1rem;
                }

                .address {
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #40405C;
                    margin-bottom: 0;
                }

                .address-ext {
                    font-size: 0.75rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #79798F;
                    margin-bottom: 1rem;
                }

                .alert {
                    &.alert-warning {
                        font-size: 0.875rem;
                        line-height: 1.5;
                        color: #40405C;
                    }
                }
            }

            .card-payment {
                .title {
                    font-size: 1.375rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #282842;
                    margin-bottom: 23px;
                }
            }

            .card-summary {
                .title {
                    font-size: 1.375rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #282842;
                    margin-bottom: 23px;
                }

                .label {
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #40405C;
                    margin-bottom: 0;
                }

                .value {
                    font-size: 0.875rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #40405C;
                    margin-bottom: 0;
                }
            }
        }
    }

    #modal-recovery-password {
        .modal-content {
            .modal-header {
                .modal-title {
                    color: #9B8FCC;
                }

                .btn-close {
                    color: #9B8FCC;
                }
            }

            .modal-body {
                .btn-pill-default {
                    font-size: 12px;
                    font-weight: 500;
                    color: #000072;
                    background-color: #D9D9D9;

                    &:hover {
                        filter: brightness(.9);
                    }
                }
            }
        }
    }
}