<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pillpass - Colaboradores</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="./assets/images/logo_pillpass.svg">

    <!-- metadados -->
    <meta name="description" content="Descubra o Pillpass, um benefício oferecido pela sua empresa que garante preço de custo em mais de 35 mil itens de farmácia. Economize em seus medicamentos e produtos de saúde.">
    <meta name="keywords" content="Pillpass, saúde, farmácia, medicamentos, benefício, empresa, preço de custo">
    <meta property="og:title" content="Pillpass - Saúde a preço de custo">
    <meta property="og:description" content="Descubra o Pillpass, um benefício oferecido pela sua empresa que garante preço de custo em mais de 35 mil itens de farmácia. Economize em seus medicamentos e produtos de saúde.">
    <meta property="og:image" content="./assets/images/screenshort.webp">
    <meta property="og:url" content="./assets/images/screenshort.webp">
    <meta name="twitter:card" content="/assets/images/screenshort.webp">
    <meta name="twitter:title" content="Pillpass - Saúde a preço de custo">
    <meta name="twitter:description" content="Descubra o Pillpass, um benefício oferecido pela sua empresa que garante preço de custo em mais de 35 mil itens de farmácia. Economize em seus medicamentos e produtos de saúde.">
    <meta name="twitter:image" content="./assets/images/screenshort.webp">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- styles -->
    <link rel="stylesheet" href="./assets/css/style-all.min.css">
</head>
<body class="page-colaboradores">
    <h1 class="d-none">Pillpass - Saúde a preço de custo</h1>
    
    <div id="header" class="sticky-top">
        <nav class="navbar navbar-expand-lg bg-body-white shadow-sm mb-3 py-4">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="./assets/images/logo_pillpass.svg" alt="pill pass" width="78" height="38">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-3">
                            <li class="nav-item">
                                <a class="nav-link border border-2 rounded-pill px-3" aria-current="page" href="index.html">Para empresas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-2 rounded-pill px-3 active" href="para-colaboradores.html">Para Colaboradores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-2 rounded-pill px-3" href="planos-e-precos.html">Planos e Preços</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-2 rounded-pill px-3" href="quero-uma-cotacao.html">Quero uma Cotação</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle border border-2 rounded-pill px-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Entrar
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="login-corporativo.html">Corporativo</a></li>
                                    <li><a class="dropdown-item" href="login-colaboradores.html">Colaboradores</a></li>
                                    <li><a class="dropdown-item" href="login.html">Outros</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="hero" class="mb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 order-1 order-lg-0">
                    <div style="max-width: 463px;">
                        <div class="mb-4">
                            <h2 class="primary-title">Saúde a preço de custo</h2>

                            <p class="secundary-title">O Pillpass é um benefício oferecido pela sua empresa que te garante preço de custo em mais de 35 mil itens de farmácia</p>
                        </div>

                        <a class="btn btn-pill-primary rounded-pill py-2 d-block mx-auto" href="login-colaboradores.html">
                            Faça seu login
                        </a>
                    </div>
                </div>

                <div class="col-12 col-lg-6 order-0 order-lg-1">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <img class="img-fluid " src="./assets/images/smiling_young_brunette_woman_in_casual_attire_with_a_natural_confident_expression_looking_away_with_laughter_g_1_1_1 1_2.webp" alt="Pague o que é justo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="products" class="mb-5">
        <div class="container py-5">
            <div class="row mb-2">
                <div class="col-12">
                    <h2 class="text-center primary-title-2 mb-2">Melhor Preço</h2>

                    <p class="text-center primary-title" style="line-height: 35px;">
                        Saúde e bem estar com o melhor preço <br/>
                        do mercado em mais de 40 mil produtos
                    </p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <div class="products">
                        <div class="product">
                            <div class="product__img">
                                <img src="./assets/images/omega.webp" alt="omega" class="img-fluid d-block mx-auto">
                            </div>

                            <div class="product__info">
                                <div class="name">
                                    Ômega 3 <br/> Nature Daily
                                </div>
                                <div class="commercial-price">
                                    Preço de mercado: <span>R$ 69,39</span>
                                </div>
                            </div>

                            <div class="product__price">
                                <div class="label">
                                    <span>Preço com a <strong>Pillpass</strong></span>
                                    <span>R$</span>
                                </div>
                                <div class="price">
                                    31,25
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <img src="./assets/images/balm.webp" alt="balm" class="img-fluid">
                            </div>

                            <div class="product__info">
                                <div class="name">
                                    Balm pós <br/> barba ZAAD
                                </div>
                                <div class="commercial-price">
                                    Preço de mercado: <span>R$ 69,39</span>
                                </div>
                            </div>

                            <div class="product__price">
                                <div class="label">
                                    <span>Preço com a <strong>Pillpass</strong></span>
                                    <span>R$</span>
                                </div>
                                <div class="price">
                                    43,05
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <img src="./assets/images/fralda.webp" alt="fralda" class="img-fluid">
                            </div>

                            <div class="product__info">
                                <div class="name">
                                    Fralda Huggies <br/>Tam. P
                                </div>
                                <div class="commercial-price">
                                    Preço de mercado: <span>R$ 69,39</span>
                                </div>
                            </div>

                            <div class="product__price">
                                <div class="label">
                                    <span>Preço com a <strong>Pillpass</strong></span>
                                    <span>R$</span>
                                </div>
                                <div class="price">
                                    23,75
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <img src="./assets/images/omega3.webp" alt="omega3" class="img-fluid">
                            </div>

                            <div class="product__info">
                                <div class="name">
                                    Ômega 3 <br/> Nature Daily
                                </div>
                                <div class="commercial-price">
                                    Preço de mercado: <span>R$ 69,39</span>
                                </div>
                            </div>

                            <div class="product__price">
                                <div class="label">
                                    <span>Preço com a <strong>Pillpass</strong></span>
                                    <span>R$</span>
                                </div>
                                <div class="price">
                                    79,90
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <img src="./assets/images/b5.webp" alt="b5" class="img-fluid">
                            </div>

                            <div class="product__info">
                                <div class="name">
                                    Ômega 3 <br/> Nature Daily
                                </div>
                                <div class="commercial-price">
                                    Preço de mercado: <span>R$ 69,39</span>
                                </div>
                            </div>

                            <div class="product__price">
                                <div class="label">
                                    <span>Preço com a <strong>Pillpass</strong></span>
                                    <span>R$</span>
                                </div>
                                <div class="price">
                                    82,25
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <a class="btn btn-pill-primary rounded-pill d-block mx-auto py-2" style="max-width: 474.76px;" href="//pill.com.br" target="_blank" rel="noopener noreferrer">
                        Confira todos os produtos
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h2 class="text-center primary-title mb-1">Calculadora de Economia</h2>

                    <p class="text-center secundary-title-2">
                        Na Pillpass você economiza até 70% dos gastos <br/>
                        além de ganhar 2% de cashback. Calcule e confira sua economia
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="savings-calculator" class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7 mb-4 mb-lg-0">
                    <div class="calculator">
                        <div class="container-input" v-for="(range, index) in ranges" :key="index">
                            <div class="input-range">
                                <div class="range-label">{{ range.label }}</div>
                                <div class="input-range-container">
                                    <div class="range-wrap">
                                        <div class="range-value" :style="{ left: range.position }">
                                            <span>R$ {{ range.value }}</span>
                                        </div>
                                        <input class="range" type="range" v-model="range.value" @input="setValue(index)" :min="range.min" :max="range.max" >
                                    </div>
                                </div>
                            </div>
                            <input class="input-controle" type="text" @change="event => changeValueRange(event.target.value, index)" :value="`R$ ${range.value}`">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="calculator-result">
                        <div class="input-container">
                            <div class="label">Gastos com Medicamentos</div>
                            <div class="total-value">
                                <div class="value">R$ {{ total }}</div>
                                <div class="text">DE ECONOMIA</div>
                            </div>
                        </div>

                        <img class="img-fluid img-e-pillpass" src="./assets/images/economia-pillpass.webp" alt="economia pillpasse">

                        <div class="input-container-2">
                            <div class="currency-price">
                                <div class="label">GASTO ATUAL</div>
                                <div class="value">R$ {{ total }}</div>
                            </div>
                            <div class="currency-pillpass">
                                <div class="label">Pillpass</div>
                                <div class="value">R$ {{ totalWithDiscount }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="solutions" class="mb-5">
        <div class="container py-2">
            <div class="row mb-4">
                <div class="col-12">
                    <h2 class="text-center primary-title mb-3">O benefício que você esperava</h2>

                    <p class="text-center secundary-title-2">
                        Gastos com medicamentos podem custar até 60% da renda.<br/> Economize agora com a Pillpass
                    </p>
                </div>
            </div>

            <div class="row justify-content-between row-gap-5">
                <div class="col-12 col-lg-3">
                    <img class="img-fluid d-block mx-auto" src="./assets/images/assinatura-flexivel.webp" alt="Altere o plano ou faça pausas sem taxas ou custos extras">
                </div>
                <div class="col-12 col-lg-3">
                    <img class="img-fluid d-block mx-auto" src="./assets/images/menor-preco.webp" alt="Economize até 70% no preço dos remédios e produtos de farmácia">
                </div>
                <div class="col-12 col-lg-3">
                    <img class="img-fluid d-block mx-auto" src="./assets/images/adicione-membris.webp" alt="Compre medicamento controlado para até 4 pessoas">
                </div>
            </div>

            <div class="row my-5">
                <div class="col-12">
                    <div class="row row-gap-2">
                        <div class="col-12 col-lg-6">
                            <a class="btn btn-pill-secundary-outline rounded-pill py-2 d-block mx-auto" style="max-width: 483px;" href="planos-e-precos.html">
                                Ver planos e valores
                            </a>
                        </div>

                        <div class="col-12 col-lg-6">
                            <a class="btn btn-pill-primary rounded-pill py-2 d-block mx-auto" style="max-width: 483px;" href="login-colaboradores.html">
                                Fazer login
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6 order-1 order-lg-0 ">
                    <div style="max-width: 519px;">
                        <div class="mb-6">
                            <h2 class="primary-title-3">Encontre o plano ideal<br/> para você</h2>

                            <p class="body-spotlight-muted fw-normal">Escolha entre os planos pillpass<br/> ecomece a economizar com os seus<br/> gastos em saúde e bem estar</p>
                        </div>

                        <a class="btn btn-pill-secundary-outline rounded-pill d-block mx-auto mt-5 py-2" style="max-width: 483px;" href="planos-e-precos.html">
                            Ver planos e valores
                        </a>
                    </div>
                </div>

                <div class="col-12 col-lg-6 order-0 order-lg-1 ">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <img class="img-fluid " src="./assets/images/encontre.webp" alt="Encontre o plano ideal para você">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fqa" class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center secundary-title-2">FAQ</h2>

                    <p class="text-center primary-title" style="line-height: 35px;">
                        Está com dúvidas? <br/>
                        A gente tem as respostas!
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item border rounded mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    Como funciona a Pillpass?
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border rounded mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    Quais protudos eu posso comprar?
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border rounded mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                    Como faço, caso queira cancelar?
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-2 mb-4 mb-lg-0">
                    <img class="img-fluid mb-3 d-block" src="./assets/images/logo-pill.svg" alt="logo pill">

                    <div class="row justify-content-start ">
                        <div class="col-auto align-self-center">
                            <a href="//www.linkedin.com/company/pillfarma/" target="_blank" rel="noopener noreferrer">
                                <img class="img-fluid" src="./assets/images/linkedin.svg" alt="linkedin">
                            </a>
                        </div>
                        <!-- <div class="col-auto align-self-center">
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <img class="img-fluid" src="./assets/images/spotify.svg" alt="spotify">
                            </a>
                        </div> -->
                        <div class="col-auto align-self-center">
                            <a href="//www.facebook.com/pillfarma/" target="_blank" rel="noopener noreferrer">
                                <img class="img-fluid" src="./assets/images/facebook.svg" alt="facebook">
                            </a>
                        </div>
                        <div class="col-auto align-self-center">
                            <a href="//www.instagram.com/pillfarma/" target="_blank" rel="noopener noreferrer">
                                <img class="img-fluid" src="./assets/images/instagram.svg" alt="instagram">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                    <div class="row mb-4 menu-footer">
                        <div class="col-12">
                            <h3 class="h6 menu-footer__title">Sobre a Pill</h3>
                        </div>

                        <div class="col-12">
                            <a class="text-decoration-none menu-footer__link" href="//pill.com.br/pages/quem-somos" target="_blank" rel="noopener noreferrer">Quem somos</a>
                        </div>
                        <div class="col-12">
                            <a class="text-decoration-none menu-footer__link" href="//pill.com.br/pages/blog-pill" target="_blank" rel="noopener noreferrer">Blog da Pill</a>
                        </div>
                        <!-- <div class="col-12">
                            <a class="text-decoration-none menu-footer__link" href="http://" target="_blank" rel="noopener noreferrer">Trabalhe conosco</a>
                        </div> -->
                    </div>

                    <div class="row menu-footer">
                        <div class="col-12">
                            <h3 class="h6 menu-footer__title">Fale conosco</h3>
                        </div>

                        <div class="col-12">
                            <a class="text-decoration-none menu-footer__link" href="//api.whatsapp.com/send?phone=5511999990380" target="_blank" rel="noopener noreferrer">
                                <img class="img-fluid d-inline" style="max-width: 13px;" src="./assets/images/Union.svg" alt="whatsapp">
                                <div class="d-inline mx-1">(11) 3864-0655</div>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="text-decoration-none menu-footer__link" href="mailto:oi@pill.com.br" target="_blank" rel="noopener noreferrer">
                                <img class="img-fluid d-inline" style="max-width: 13px;" src="./assets/images/Vector.svg" alt="email">
                                <div class="d-inline mx-1">oi@pill.com.br</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                    <div class="row mb-4 menu-footer">
                        <div class="col-12">
                            <h3 class="h6 menu-footer__title">Informações técnicas</h3>
                        </div>

                        <div class="col-12">
                            <a class="text-decoration-none menu-footer__link" href="//pill.com.br/pages/termos-e-politicas" target="_blank" rel="noopener noreferrer">Termos e Políticas</a>
                        </div>
                        <div class="col-12">
                            <a class="text-decoration-none menu-footer__link" href="planos-e-precos.html#fqa">Dúvidas frequentes</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <img src="./assets/images/Coluna 4@2x.webp" alt="selos de qualidade pill" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <small>
                                Farmacêutica Responsável: Natália Rodrigues D'Agostino<br/>
                                CRF/SP: 94516 • CMVS: 355030801-477-012535-1-4<br/>
                                AFE: 7.82.784-8<br/>
                                <br/>
                                Av. Dr. Arnaldo, 1.888 - São Paulo (SP) - Sumaré<br/>
                                CEP: 01255-000 • Telefone: (11) 97072-4934<br/>
                                Segunda a Sexta-feira: 08h - 20h<br/>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- vueJs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <!-- script -->
    <script src="./assets/js/index.js"></script>
</body>
</html>